body{
    margin: 0px 0px;
}
.nav{
    margin-top: 10px;
    display: flex;
    margin: 0%;
}
.lakme{
    font-weight: bolder;
    font-size: 25pt;
    margin: 20px;
    padding-left:150pt;
    cursor: pointer;
        
}
.list{
    margin: 15px;
    list-style-type: none;
    display: flex;
    padding-left:20%;
    padding-top: 0.6%;
    cursor: pointer;
}
.list li:hover{
    color: #bca857;
}
.list li{
    margin-right: 14px;
    font-size: 120%;
}
.booknow{
    border-radius: 25pt;
    width: 110pt;
    height: 38pt;
    margin-top: 7pt;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.booknow:hover{
    background-color: #bca858;
    color: white;
    transition-duration: 700ms;

}
.sec1{
    height: auto;
}
.div1{
    margin-top: 2%;
    margin-left: 13%;
    margin-right: 13%;   
}
.img1, .img2, .img3, .img4, .img5, .img6{
    cursor: pointer;
}
.div1a,.div1b,.div1c{
    display: inline-flex;
    margin-left: 20pt;
    margin-top: 20pt;
}
.div2{
    margin-top: 20pt;
    margin-left: 13%;
    margin-right: 13%;   
}
.div2a,.div2b,.div2c{
    display: inline-flex;
    margin-left: 20pt;
    margin-top: 20pt;
}
.div3{
    font-size: larger;
    margin-top: 60pt;
    margin-left: 14.5%;
    margin-right: 13%; 
    margin-bottom: 3%; 
}
.p1{
    font-weight: bold;
    margin-bottom: 0pt;
}
.p2{
    margin-top: 0pt;
    text-justify: inter-word; 
}
footer{
    background-color: #D4DCC1;
    height: 270pt;
}
.div9{
    margin-top: 3%;
    font-size: larger;
    margin-left: 15%;
    display:inline-flex;
}
.div10{
    font-family:"Open Sans", sans-serif;
    font-size: 115%;
    margin-top: 1%;
    display: inline-flex;
    opacity: 0.8;
    margin-left: -75px;

}

.div11{
    display:inline-flex;
    margin-left: 7%;
}

.p6{
    font-weight: bold;
    font-size: 150%;
}

.p7{
    line-height: 1.7;

    word-spacing:10%;
    margin-top: 11%;
    margin-left: -40%;
    font-size: large;
}
.div12{
    display: inline-flex;
}
.div13{
    display: inline-flex;
    font-size: 18px;
    margin-left: -75px;
}

.p8{
    font-size: 150%;
    font-weight: bold;
    margin-left:-22pt;
}

.p9{
    line-height: 2.0;
    font-size: 100%;
    margin-top: 10px;
    margin-left: -45px;
}